#logo_img{  
    top:0px;  
	width: 100%;
	text-align:center;
    /*border:solid 1px #0000FF;  */
    height:77px;  
    background:url('../img/title_back_img.png') repeat-x 0 0px;

}

#logo_fls{
    top:0px;  
	width: 100%;
	text-align:center;
	height: 80px;
    /*border:solid 1px #0000FF;  */
   
}
#logo_fls{
    top:0px;  
	width: 100%;
	text-align:center;
	height: 80px;
    /*border:solid 1px #0000FF;  */
   
}
#table{
	width: 400px;
	text-align: center;
}

.table_content{
	top:0px;  
	width: 100%;
	text-align:center;
}

